* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.principal {
    width: 100%;
    background-color: whitesmoke;
}
.container {
  width: 80%;
  padding: 2.5rem 0;
  margin: 0 10%;
}
.principal-titulo {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 1.8rem;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 2px inset black;
}
.principal-secao {
  background-color: #ccc;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 10px;
}
.principal-secao__titulo {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.principal-secao__artigo {
  text-align: justify;
}

.lista-acoes{
    display: flex;
    
}
